:root {
  --color-primary: #ec5b13;
  --color-neon-blue: #00f2ff;
  --color-bg-light: #f8f6f6;
  --color-bg-dark: #0a0604;
  --color-card-dark: #1a0f0a;
  --color-border-dark: #2d1b13;
  --font-display: 'Public Sans', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;
}

body {
  margin: 0px;
  padding: 0px;
}